*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-size:14px;
}

.analog-clock{
    width:140px;
    height:140px;
}

#clock-face{
    stroke:black;
    stroke-width:2px;
    fill:white;
}

#hour, #min, #second, #s-tail{
    stroke:black;
    stroke-linecap:round;
}

#hour{
    stroke-width:3px;
}

#min{
    stroke-width:2px;
}

#second{
    stroke-width:1px;
}

.time-text{
    text-align:center;
}